html,
body {
	margin: 0;
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	overflow: hidden;
}

body {
	perspective: 600px;
	background: linear-gradient(0.25turn, red, #ebf8e1, black);
}

.box-two {
	transform: translateZ(0);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	mix-blend-mode: screen;
}

.box-one {
	transform: translateZ(0);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: scale(0.6);
}

.box-one,
.box-two {
	perspective: 600px;
}

.box-area {
	width: 400px;
	height: 400px;
	margin: -200px 0 0 -200px;
	position: absolute;
	top: 50%;
	left: 50%;
}

.box-two:before,
.box-two:after,
.box-one:before,
.box-one:after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: 800%;
	background-repeat: no-repeat;
	background-position: 0 0;
	transform-origin: 50% 50% -200px;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	backface-visibility: hidden;
	background: linear-gradient(
		45deg,
		transparent,
		rgba(255, 255, 255, 0.5),
		transparent
	);
}

.box-two:before,
.box-one:before {
	animation-name: animate1;
}

.box-two:after,
.box-one:after {
	animation-name: animate2;
}

.box-one:before,
.box-one:after {
  background: url(./assets/1.png);
  background-color: black;
	background-size: cover;
	background-position: center center;
}

@keyframes animate1 {
	from {
		transform: rotateY(0);
		background-position: 0 0;
	}
	to {
		transform: rotateY(-90deg);
		background-position: -400% 0;
	}
}

@keyframes animate2 {
	from {
		transform: rotateY(90deg);
		background-position: 400% 0;
	}
	to {
		transform: rotateY(0);
		background-position: 0 0;
	}
}

h6 {
	color: #333;
	display: flex;
	justify-content: center;
	align-content: center;
}

/* my god this feeling */
