@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: red;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  transform-style: preserve-3d;
}

.container .box {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 40px;
  transform-style: preserve-3d;
}

.container .box:hover::before,
.container .box:hover::after {
  opacity: 0.04;
}

.container .box .name {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  width: 100%;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 75px);
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
  letter-spacing: 1em;
}

.container .box:hover .name {
  top: 40px;
  opacity: 1;
}

.container .box .search {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate3d(-50%, 0, 75px);
  color: #fff;
  background:rgba(51, 51, 51, 0.5);
  box-shadow: 0 0 10px rgba(255, 255, 255, .5);
  text-decoration: none;
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.container .box:hover .search {
  bottom: 30px;
  opacity: 1;
}

.container .box .magni {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 50px;
  transition: 0.5s;
  z-index: 11;
  transition: 0.5s;
  transform-style: preserve-3d;
  transform: translate3d(-50%, -50%, 0px) rotate(-15deg);
}

.container .box:hover .magni {
  transform: translate3d(-50%, -50%, 100px) rotate(-15deg);
}

input {
  outline: none;
}

